:root {
  --main-color: #979797;
  --card-color: #eeeeee;
  --primary-color: #184787;
  --secondary-color: #f4cd00;
}

.colCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 10px !important;
}

.grid{
  max-width: 1450px;
  margin: 0 auto;
}

.gridRow{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.mainCard {
  background-color: #212121c1 !important; /* Jean */
  margin: 10px;
  margin-bottom: 30px;
  height: 490px;
}

.gaugeColumn {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plotTitle{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

.cards{
  height: 110px;
  width: 130px;
  text-align: center;
 
}

.cardTitle{
  font-family: Arial, Helvetica, sans-serif;
  color: #f4cd00;
  font-weight: normal;
}
