:root {
  --main-color: #979797;
  --background-color:#424242;
  --card-color: #eeeeee;
  --primary-color: #184787;
  --secondary-color: #f4cd00;
}

.tab {
  flex-grow: 1;
  background-color: var(--background-color) !important;
  color: var(--secondary-color) !important;
}

.eachTab {
  background-color: var(--background-color) !important;
}
.eachTab:active,
.eachTab:focus {
  color: var(--secondary-color) !important;
  font-weight: bold;
}
